<div class="container card p-5" style="margin-top:5%">
    <h3>Dashboard</h3>
    <hr />
    <div>
        <div class="row text-white text-center">
            <div class="col-md-4">
                <div class="p-5 bg-grad-blue">
                    <h3>States</h3>
                    <h5 class="bg-white text-dark p-2">10</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-5 bg-grad-blue">
                    <h3>Cities</h3>
                    <h5 class="bg-white text-dark p-2">20</h5>
                </div>
            </div>
            <div class="col-md-4">
                <div class="p-5 bg-grad-blue">
                    <h3>Locations</h3>
                    <h5 class="bg-white text-dark p-2">30</h5>  
                </div>
            </div>
           
        </div>
    </div>
</div>