<div class="container card p-5" style="margin-top:5%">
    <h3>Add State</h3>
    <hr />
    <div class="d-flex ">
        <form asp-action="State" asp-controller="Master" method="post">
            <div class="mb-3">
                <label for="txtStateName" class="form-label">State Name</label>
                <input type="text" name="StateName" class="form-control" id="txtStateName">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    
</div>